body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.feito{
  background-color: rgb(185, 221, 185)!important;
}
li{
  list-style-type: none;
}
h1{
  color: rgb(100, 100, 100);
}
tr, td{
  width: 99%;
}
td, th {
  padding: 5px;
}
.container{
display: grid;
margin: 20px auto;
width: 50%;
border-radius: 25px;
}
.item:nth-child(even) {
  background-color: #e9e9e9; 
}
.item:nth-child(odd) {
  background-color: rgb(243, 243, 243);
}
.item:first-child{
  border-radius:25PX 25px 0 0 ;
}
.item:last-child{
  border-radius: 0 0 25PX 25px;
}
.item:only-child{
  border-radius: 25PX 25PX 25PX 25px;
}
.item{
  display: inline-flex;
  justify-items: center;
}
::placeholder{
  color: rgb(131, 131, 131);
  text-align: center;
}
input:focus::placeholder {
  color: transparent;
}
.btn-remove{
  background-color: rgb(245, 153, 153);
  border-radius: 25px;
  border: 1px solid rgb(148, 11, 11);
  color: white;
}
.btn-remove:hover{
  background-color: rgb(233, 101, 101);
}
.btn-add{
  border-radius: 50px;
  background-color: white;
  color: rgb(5, 182, 5);
  border: 2px solid rgb(5, 182, 5);
  margin-left:10px;
}
.btn-ok{
  border-radius: 50px;
  border: 2px solid rgb(5, 182, 5);
  margin-left:10px;
  height: 20px;
  width: 80%;
}
.btn-ok:hover{
  background-color: rgb(211, 255, 218);
}
.check{
  background: url('https://images.vexels.com/media/users/3/157932/isolated/lists/951a617272553f49e75548e212ed947f-curved-check-mark-icon.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 2px;
}
.none{
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: #e9e9e900;
  margin-left:10px;
  height: 20px;
  width: 80%;
}
input{
  border: 2px solid rgb(5, 182, 5);
  border-radius: 25px;
  width: 20%;
  height: 50px;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
}
input.mobile{
  display: none;
}
@media (max-width:1150px) {
  input{
    font-size: 14px;
  }
}
@media (max-width:900px) {
  input{
    font-size: 12px;
  }
}
@media (max-width:705px) {
  input{
    font-size: 10px;
  }
}
@media (max-width:600px) {
  input.mobile{
    font-size: 12px;
    display: inline;
  }
  input{
    display: none;
  }
}
.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}
textarea:focus, input:focus{
  outline: none
}
textarea{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  width: 100%;
  height: 25px;
  bottom: 0;
  position: fixed;
  background-color: rgb(71, 71, 71);
  color: rgb(224, 224, 224);
}
a{
  text-decoration: none;
  color: rgb(224, 224, 224);
}
a:hover{
  color: white;
}