body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
li{
  list-style-type: none;
}
h1{
  color: rgb(100, 100, 100);
}

tr, td{
  width: 99%;
}

td, th {
  padding: 5px;
}

.concluido{
  background-color: red;
  color: red;
  font-size: 200px;
}

.container, .container2{
display: grid;
margin: 20px auto;
background-color: rgb(243, 243, 243);
width: 50%;
border-radius: 25px;
}

.item2{
  display: none;
}

.feito{
  background-color: rgb(66, 185, 66);
}

.item:nth-child(even) {
  background-color: #e9e9e9; 
}

.item:last-child{
  border-radius: 0 0 25PX 25px;
}

.item{
  display: inline-flex;
  justify-items: center;
}

::placeholder{
  color: rgb(131, 131, 131);
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.btn-remove{
  background-color: rgb(245, 153, 153);
  border-radius: 25px;
  border: 1px solid rgb(148, 11, 11);
  color: white;
}

.btn-remove:hover{
  background-color: rgb(233, 101, 101);
}

.btn-add{
  border-radius: 50px;
  background-color: white;
  color: rgb(5, 182, 5);
  border: 2px solid rgb(5, 182, 5);
  margin-left:10px;
}
.btn-ok{
  border-radius: 50px;
  border: 2px solid rgb(5, 182, 5);
  margin-left:10px;
  height: 20px;
  width: 80%;
}

.none{
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: #e9e9e900;
  margin-left:10px;
  height: 20px;
  width: 80%;
}

input{
  border: 2px solid rgb(5, 182, 5);
  border-radius: 25px;
  width: 20%;
  height: 50px;
  text-align: center;
  background-color: transparent;
  margin-left: 1.6%;
}

textarea:focus, input:focus{
  outline: none
}

textarea{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  width: 100%;
  height: 25px;
  bottom: 0;
  position: fixed;
  background-color: rgb(71, 71, 71);
  color: rgb(224, 224, 224);
}
a{
  text-decoration: none;
  color: rgb(224, 224, 224);
}
a:hover{
  color: white;
}